
ul(data-calibrate-x="false"
data-calibrate-y="true"
data-invert-x="false"
data-invert-y="true"
data-limit-x="false"
data-limit-y="10"
data-scalar-x="2"
data-scalar-y="8"
data-friction-x="0.2"
data-friction-y="0.8"
data-origin-x="0.0"
data-origin-y="1.0")#scene
    li(class="layer" data-depth="0.00")
        img(src="/assets/img/parallax/8.png")
    li(class="layer" data-depth="0.20")
        img(src="/assets/img/parallax/7.png")
    li(class="layer" data-depth="0.40")
        img(src="/assets/img/parallax/6.png")
    li(class="layer" data-depth="0.60")
        img(src="/assets/img/parallax/5.png")
    li(class="layer" data-depth="0.80")
        img(src="/assets/img/parallax/4.png")
    li(class="layer" data-depth="1.10")
        img(src="/assets/img/parallax/3.png")
    li(class="layer" data-depth="1.20")
        img(src="/assets/img/parallax/2.png")
    li(class="layer" data-depth="1.30")
        img(src="/assets/img/parallax/1.png")

script(src="/assets/js/main.js" defer)
script(src='/assets/js/parallax.min.js')